**Source**: EDB
**EDB ID**: {{ edb_id }}
**EDB URL**: {{ edb_url }}
**CVE IDs**: {{ cve_ids }}
**Test system reproducer**: {{ test_system }}
**CPE**: {{ cpe }}
**Scoring standard**: {{ scoring }}
**Score**: {{ score }}